@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles for react-modal-sheet */
.react-modal-sheet-backdrop {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: saturate(180%) blur(4px) !important;
    -webkit-backdrop-filter: saturate(180%) blur(4px) !important;
}

.react-modal-sheet-container {
    background-color: white !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
}

.react-modal-sheet-drag-indicator {
    display: none !important;
}

.react-modal-sheet-content {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch !important;
}
