@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Prevent body scroll when drawer is open */
body.drawer-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
